* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------- Style Formular -----------*/

#app {
  margin: 30px 15%;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 25px;
  background-color: lightcyan;
}

h1 {
  text-align: center;
  color: rgb(3, 83, 83);
  text-transform: capitalize;
}

form {
  display: grid;
  grid-template-areas:
    "1 2"
    "3 3"
    "4 5"
    "6 7"
    "8 8"
    "8 8"
    "9 10";
  gap: 5px;

  margin: 30px;
  border: 10px;
}

input {
  height: 30px;
}

#first_name {
  grid-area: 1;
}

#last_name {
  grid-area: 2;
}

#stage_name {
  grid-area: 3;
}

#alben {
  grid-area: 4;
}

#top-single {
  grid-area: 5;
}

#genre {
  grid-area: 6;
}

#age {
  grid-area: 7;
}

#discription {
  grid-area: 8;
}

#mage_url {
  grid-area: 9;
}

button {
  grid-area: 10;
  background-color: darkcyan;
  color: white;
  height: 30px;
  border: 0;
  border-radius: 5px;
}

/* ----------- Gespante Karten Style -----------*/

#spawn_card {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 30px;
}

#spawn_card div {
  width: 30%;
  height: auto;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 10px 20px 15px silver;
}

h2,
h3,
p {
  color: white;
  width: 100%;
  padding: 5px 2px;
  background-color: rgba(0, 0, 0, 0.2);
}
